dados/DOCENTES_CO.CSV
dados/SAEB_ESCOLA.csv
dados/DOCENTES_NORDESTE.CSV
dados/DOCENTES_NORTE.CSV
dados/DOCENTES_SUDESTE.CSV
dados/DOCENTES_SUL.CSV
dados/ESCOLAS.CSV
dados/PIB dos Municípios - base de dados 2010-2016.xls
dados/TS_MUNICIPIO.xlsx
dados/TS_PROFESSOR.csv
.vscode/settings.json
